.profile {
}

.description {
  align-items: center;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  max-width: 100px;
}

.name {
  color: blueviolet;
  font-size: 20px;
  font-weight: bold;
}

.tag {
  color: brown;
}

.location {
  color: red;
}

.stats {
  align-items: center;
  color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.label {
  color: coral;
}

.quantity {
  color: cornflowerblue;
}
